@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
// header__cart grid-area: 2 / 3 / 3 / 4; Search_root__eiX89 grid-area: 2 / 1 / 3 / 4; 
// a grid-area: 1 / 1 / 2 / 4;
@media (max-width: 1200px) {
  .header {

    & .container {
      flex-direction: column;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      & a {
        grid-area: 1 / 1 / 2 / 4;
        margin-bottom: 10px;
      }
    }

    &__cart {
      grid-area: 2 / 4 / 3 / 4;
      max-width: 145px;
    }
  }
}

@media (max-width: 700px) {
  .header__cart {
    grid-area: 1/4/3/4;
  }
}

@media (max-width: 450px) {
  .header .container {
    display: flex;

    & .header__cart {
      order: 2;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    & a {
      order: 1
    }
  }
}
